@font-face{
  font-family: 'Season_PersonalUseOnly';
  src: url('../fonts/Snowballs Season_PersonalUseOnly.otf');
}


#gtco-features{
  background: no-repeat;
  background-size: 100%;
  background-image:url(../images/micro.png);
}

.img-pres {
  border-radius: 100px;
}

.title_pres{
  font-size: 60px;
  color: darkcyan;
  font-family: Season_PersonalUseOnly;

}

#citation_pres{
  font-size: 40px;
  color: darkcyan;
  font-family: Season_PersonalUseOnly;
}